html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  overflow: auto;
  background: repeating-linear-gradient(
    45deg,
    #1bb14f,
    #1bb14f 20px,
    #22c34d 20px,
    #22c34d 40px
  );

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  display: flex;
  flex-direction: column;
}

.site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.complete-game-title {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin: 0;
  font-family: "Russo One", sans-serif;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 10rem;
  justify-content: center;
  margin-top: 2rem;
}

.main-nav li {
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  height: 1rem;
  margin-top: 1rem;
  width: 15rem;
}

.go-to-submission-button {
  align-self: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  margin: 2rem auto;
  box-sizing: border-box;
  background-color: rgba(218, 122, 54, 1);
  clip-path: ellipse(100% 80% at 50% 80%);

  height: 80%;
}

.al-standings ul,
.al-standings h3,
.nl-standings ul,
.nl-standings h3 {
  width: 300px;
  color: white;
  list-style-type: none;
}

.article-section {
  background-color: white;
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  max-width: 700px;
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.article-section article h2 {
  margin-top: 5rem;
}

.article-section article:first-of-type h2 {
  margin-top: 3rem;
}

.division h3 {
  margin-top: 4rem;
}

.division ul li {
  padding-bottom: 0.2rem;
}

.title-text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.article-text {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
