html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  display: flex;
  flex-direction: column;
}

.site-header {
  width: 100%;
  background: #ba6b09;
  background: radial-gradient(
    circle,
    rgba(186, 107, 9, 1) 29%,
    rgba(34, 195, 77, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.complete-game-title {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin: 0;
  font-family: "Russo One", sans-serif;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 10rem;
  justify-content: center;
}

.main-nav li {
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  height: 1rem;
  margin-top: 1rem;
  width: 15rem;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.al-standings,
.nl-standings {
  width: 300px;
}

.article-section {
  background-color: white;
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}

.article-section article h2 {
  margin-top: 5rem;
}

.article-section article:first-of-type h2 {
  margin-top: 3rem;
}

.division h3 {
  margin-top: 4rem;
}
